extends layout

block content
  main
    
    form.form(action="/account" method="POST")
      h2.subtitle Fiókod adatai
      label(for="name") Név
      input.form__input(type="text" name="name" value=user.name)
      label(for="email") Email cím
      input.form__input(type="email" name="email" value=user.email)
      input.btn.btn-primary(type="submit" value="Frissítés →")