extends layout

include mixins/_head
include mixins/_head-end

block head 
  +head()
  +headEnd()

block content
  main.main__vertical 
    h1= title
    p.text__dark <span class="text__bold"> Lead칩:</span> #{actualIncome} Ft
    p.text__dark <span class="text__bold">Borraval칩:</span> #{tipsAmount} Ft
    p.text__dark <span class="text__bold">Napi v치lt칩:</span> #{nextDayOpening} Ft