extends layout

include mixins/_head
include mixins/_head-end

block head 
  +head()
  +headEnd()

block content
  main.main__vertical
    .closing--wrapper 
      h1.title.title__center.title__light= title
      div
        p.text__dark <span class="text__bold"> Leadó:</span> #{actualIncome} Ft
        p.text__dark <span class="text__bold">Borravaló:</span> #{tips} Ft
        p.text__dark <span class="text__bold">Kasszában marad:</span> #{closingAmount} Ft
      div 
        a.btn.btn__primary.btn__autoWidth.margin-top(href="/YMPrgznAHYhnXFdy") Új elszámolás készítése


      