extends layout

include mixins/_head
include mixins/_head-end
include mixins/_closingForm

block head 
  +head()
  +headEnd()

block content
  main.main__vertical 
    h1= title
    form.form(action='/YMPrgznAHYhnXFdy/elso' method='POST')
      label.text--medium(for="createdBy") Elszámolást készítette
        select.form__input.text--medium(id="createdBy" name="createdBy" required)
          option(value="" disabled selected) -- Válassz egy nevet --
          option(value="Adam") Ádám
          option(value="Arpi") Árpi
          option(value="Peter") Péter
          option(value="Viki") Viki
      label.text--medium(for="shiftStart") Műszak kezdete
        input.form__input.text--medium(type="date" id="shiftStart" name="shiftStart" required)
      label.text--medium(for="countedAmount") Kasszafiók tartalma
        input.form__input.text--medium(type="number" id="countedAmount" name="countedAmount" placeholder="Leszámolt összeg" required)
      +closingForm()