extends layout

include mixins/_head
include mixins/_head-end
include mixins/_closingForm

block head 
  +head()
  +headEnd()
  script(src="/javascripts/modules/form.js")

block content
  main.main__vertical.form-layout 
    h1.title.title__center.title__light= title
    +closingForm('/YMPrgznAHYhnXFdy/elso')


  