extends layout 

include mixins/_contact


block content
  main
    .hero.hero--main
      h1.title.title__extra Bagoly Pub 
      p.text__extra Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    +contact() 