extends layout 

include mixins/_contact

block header 
  section.first
    img(src="/images/icons/FEHER_bagolypub_logo-24.svg" alt="logo" class="logo__fullpage")
    header
      img.logo(src="/images/icons/noborder_bagolypub_logo_sötét-25.svg" alt="logo")
      nav.nav
        a.nav-item(href=`/itallap`) itallap
      .nav-menu 
        i.fa.fa-bars  

block content
  section.second
    +contactPage() 