extends layout 

block content 
  main 
    form.form(action="/register" method="POST")
      h2.subtitle Regisztráció
      label(for="name") Név
      input.form__input(type="text" name="name" )
      label(for="email") Email
      input.form__input(type="email" name="email" )
      label(for="password") Jelszó
      input.form__input(type="password" name="password" )
      label(for="password-confirm") Jelszó megerősítés
      input.form__input(type="password" name="password-confirm" )
      input.btn.btn-primary(type="submit" value="Regisztráció →") 
    