extends layout

block content
  main
    form.form(method="POST")
      h2.subtitle Állíts be új jelszót
      label(for="password") Jelszó
      input.form__input(type="password" name="password")
      label(for="password-confirm") Jelszó megerősítés
      input.form__input(type="password" name="password-confirm")
      input.btn.btn-primary(type="submit" value="Új jelszót mentése →")