mixin closingForm()
  h2 Adatok FruitSys-ből:
  label.text--medium(for="openingAmount") Kassza nyitó összeg 
    input.form__input.text--medium(type="number" id="openingAmount" name="openingAmount" placeholder="Pénztár jelentés/Nyitó pénzkészlet/készpénz" required)
  label.text--medium(for="dailyIncome") Napi készpénz forgalom 
    input.form__input.text--medium(type="number" id="dailyIncome" name="dailyIncome" placeholder="Pénztár jelentés/Napi forgalom/készpénz" required)
  label.text--medium(for="personelConsumption") Személyzeti fogyasztás 
    input.form__input.text--medium(type="number" id="personelConsumption" name="personelConsumption" placeholder="Pénzforgalmi elszámolás/Személyzeti fogyasztás" required)
  label.text--medium(for="tips") Borravaló 
    input.form__input.text--medium(type="number" id="tips" name="tips" placeholder="Pénzforgalmi elszámolás/Borravaló" required)  
  input.btn.btn-primary(type="submit" value= "Küldés")