/*-----------------------------------*\
* BASIC SETTINGS OF THE PAGE
\*-----------------------------------*/

:root {
    --primary-color:        #BC956C; /* brand - Light brown */
    --primary-color-rgb:    188, 149, 108;
    --secondary-color:      #FFFFFF; /* white */
    --secondary-color-rgb:  255, 255, 255;
    --brand-color:          #042236; /* brand - Dark blue */ 
    --brand-color-rgb:      4, 34, 54;
    --background-color:     #F4F3F5; /* light grey*/
    --tertiary-color:       #FEEECA; /* light yellow */
    --font-size-regular:    1.25rem;
    --font-size-big:        2.5rem;
    --font-size-medium:     0.875rem;
    --font-size-small:      0.75rem;
    --line-height-regular:  1.875rem;
    --line-height-big:      3.125rem;
    --line-height-medium:   1.125rem;
    --line-height-small:    1rem;
    --header-height:        5rem;
    --hero-height:          calc(100vh - var(--header-height));   
    
} 

/* normalize CSS */

* {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}

  

  html {
    background-color: var(--background-color);
  }

