/*
*Header...............main layout, color, logo size, navbar
*
*Header - Navbar..... main layout typography and color, typography,
*                              and hover effect
*Mobile version......sandvich menu, padding adjustement 
*                    of the header
*/

/*Header*/

header {
  width:            100%;
  height:           5rem;
  display:          flex;
  flex-flow:        row nowrap;
  justify-content:  space-between;  
  align-items:      center;
  background:       var(--brand-color) 0% 0% no-repeat padding-box;
  opacity:          1;
  padding-left:     15.3125rem;
  padding-right:    15.3125rem;
  padding-top:      .0625rem!important;
  padding-bottom:   .0625rem!important;
  position:         relative; 
  position:         fixed;
  z-index:          100;  
  /*overflow:         hidden; */
}
  

  /* Logo */

  .logo--wrapper {
    display:         flex;
    justify-content: center;
    align-items:     center;
    height:          100%;
  }
  
  .logo {
    height:           90%;
    /*margin-right:   1.875rem;*/
    border:          1px solid rgba(254, 238, 202, 0.5);
    box-shadow:      1px 1px 1px rgba(254, 238, 202, 0.5);
    border-radius:   50%;
      
  } 
    
    .logo:hover {
      border:          1px solid rgba(254, 238, 202, 1);
      box-shadow:      1px 1px 1px rgba(254, 238, 202, 1);
      transition:      0.3s;
    }
    
  
  /* Navbar */

  .nav {
    width:           27.0625rem;
    height:          5rem;
    display:         flex;
    flex-flow:       row nowrap;
    justify-content: space-evenly;
    align-items:     center;
    gap:             1rem;
    margin-left:     3rem;
  }
  
    .nav-item {
      font-size:       var(--font-size-small);
      line-height:     var(--line-height-small);
      letter-spacing:  0.15rem;
      font-weight:     bold;
      text-transform:  uppercase;
      text-decoration: none;
      color:           var(--tertiary-color);
      opacity:         .65;
      position:        relative; /* to position the underline */
      display:         inline-block; 
    }
  
    /*in case of hover, underline is shown at the bottom of the navbar*/
  
      .nav-item:hover::after {
        content:          "";
        display:          block;
        width:            100%;
        height:           0.25rem;
        background-color: var(--tertiary-color);
        position:         absolute;
        bottom:           -2.03rem;
        left:             0;
        
      }
    
  
      .nav-item:hover, .nav-menu:hover {
        opacity:          1;
        transition:       0.3s;
      }
  

  /*Sandvich menu is not shown on desktop */

  .nav-menu {
    display:         none;
    color:           var(--tertiary-color);
       
  }

/*--------------------------------*\
  * MOBILE LAYOUT
\*--------------------------------*/

/*Sandvich menu*/
/* 
* 1) white line separating the menu items 
* 2) hover effect on mobile version not needed
*/

    @media (max-width: 991px) {
 
    .nav {
      display:          none;
    }
    
    
    .nav.show { 
      display:          flex;
      flex-flow:        column nowrap;
      height:           auto;
      width:            90%;
      /*gap:              1.875rem; /*[1]*/
      background-color: var(--brand-color);
      color:            var(--secondary-color);
      opacity:          1;
      z-index:          100;
      position:         absolute;
      top:              5rem;
      left:             5%;
      margin-left:      0; /*desktop version has 3rem margin-left*/
      /*padding-bottom:   1.875rem; /*[1]*/
      /*padding-top:      1.875rem; /*[1]*/
      border-radius:    0 0 .3125rem .3125rem;
      }
    
      .nav.show > .nav-item { /*[1]*/
        border-bottom: 1px solid rgba(255, 255, 255, 0.65);
        line-height:   2.81rem; 
        width:         100%;
        text-align:    center;
        
      }
    
            
        .nav.show > .nav-item:hover::after { /* [2] */
         display: none;
        }
         
      
    .nav-menu {
      display:          block;
      opacity:          .65;
    }
    
    .nav-menu:hover { /*[2]*/
      opacity:          .65;
    }
    
      .nav-menu.highlight {
        opacity:          1;
      }
    }
    
/* Header padding adjusted to mobile version */

@media (max-width: 600px) {

  header {
    padding: 0 10% 0 10%;
  }  
} 