.drinks--background {
  background: url('../../images/photos/onebeer.jpg') no-repeat center / cover;
}


/*
* 1) Dark blue separator under the table header
*/

.table-container {
  background:    rgba(255, 255, 255, .9);
  border-radius: .9375rem;
  padding:       1rem;
  width:         40%;
  
}

 


  .table {
    color:         rgba(4, 34, 54, 1);
    table-layout:    auto;
    width:           100%;
    height:          auto;
    opacity:         1;
    border-collapse: collapse; /* 1 */
    
  }

    .table-title {
      width:          100%;
      /*color:          var(--primary-color);*/
      text-transform: uppercase;
      font-weight:    bold;
      margin-bottom:  1rem;
      
    }
     
    .table thead {
      color:         rgba(4, 34, 54, 1);
      border-bottom: 1px solid rgba(188, 149, 108, 1); /* 1 */
      width:         auto;
      opacity:     1;
    }

    .table .table-items {
      padding:         .3125rem;
      width:           auto;
      /*color:        rgba(188, 149, 108, 1);*/
      }

/*MOBILE VERSION*/

@media (max-width: 900px) {
  .table-container {
    width:           90%;
    padding:         11%;
  } 
}